body {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }
}

body {
    h1 {
        text-align: center;
    }
    .search-container,
    .container {
        width: 60%;
        margin: 0 auto;
    }
    .container {
        border: 1px solid #000;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .item {
            border: 1px solid #000;
        }
        #weather-icon {
            height: 150px;
            width: 150px;
            border: 1px solid #000;
        }
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td {
            padding: 15px;
        }
        // toggle
        .toggle-button {
            display: flex;
            .switch {
                position: relative;
                display: block;
                width: 90px;
                height: 55px;
                margin-bottom: 30px;
                input {
                    display: none;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background: #FFF;
                    transition: .5s;
                    border: 3px solid #FFF;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                }
                .slider:before {
                    position: absolute;
                    content: "";
                    bottom: 14px;
                    top: 8px;
                    background-color: lightgrey;
                    transition: .5s;
                }
                input:checked+.slider {
                    background: #000;
                }
                input:checked+.slider:before {
                    transform: translateX(47px) rotateZ(45deg);
                    background: yellow;
                }
                .slider.round {
                    border-radius: 35px;
                }
                .slider.round:before {
                    width: 43%;
                    height: 43%;
                    border-top-left-radius: 50px;
                    border-top-right-radius: 50px;
                    transform: rotateZ(-45deg);
                }
            }
        }
    }
}